.card {
  background-color: var(--primary-color);
  box-shadow: var(--shadow) rgba(var(--shadow-color), 0.1);
  transition: all 0.2s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-accent) rgba(var(--shadow-color), 0.3);
}

.card:hover img {
  transition: all 0.5s ease-out;
  transform: scale(1.1);
}
