.header {
  position: sticky;
  top: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-bottom: solid var(--border-size) var(--accent-color);
  box-shadow: var(--shadow) rgba(var(--shadow-color), 0.2);
  z-index: 1000;
}

.main {
  margin: 4em 6em;
}

.headerTitle {
  flex: 1;
  margin: 0;
  text-align: center;
}

.headerSides {
  width: 20%;
}

.rightSide {
  text-align: right;
}
